.icon{
  display:inline-block;
  background-size:cover;
  background-repeat: no-repeat;
  vertical-align: middle;
  // 播放图标
  &.icon-play{ 
    width:16px;
    height:16px;
    background-image: url('~@/assets/images/songCollection/icon-play.png');
  }
}