$blue:#1a85f3;
$darkBlue:#2c9ef7; // 深蓝
$yellow:#feae4d;
$red:#ff5351;
$black:#061032;
$grey:#b5b5b5;

// sidebar
$menuText:#bfcbd9;
$menuActiveText:#FFF;
$subMenuActiveText:#f4f4f5; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#ffffff;
$menuHover:#65a3dd;

$subMenuBg:#1f2d3d;
$subMenuHover:#65a3dd;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
